/* Fonts */
@font-face {
    font-family: 'Kana Sans';
    src: url('fonts/Kana Sans Bold.woff') format('woff');    
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Kana Sans';
    src: url('fonts/Kana Sans Regular.woff') format('woff');
    font-weight:100;
    font-style: normal;
}
.bold {
    font-weight: bold;
}
/* text highlight color */
::-moz-selection{ 
    background: rgba(144, 157, 222, 0.604);
}
::selection{
    background: rgba(144, 157, 222, 0.604);
}
/*Body*/
body {
    font-family: 'Kana Sans', sans-serif !important;
    overflow-x: hidden !important;
    background-color: rgb(0, 0, 0);
    color:rgb(179, 179, 179);
    cursor:default;
    width:100%;
}

#readme {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

a{
    text-decoration: none;
    color:rgb(144, 157, 222);
    transition: color 0.3s ease-in-out;
}

a:hover{
    color:rgb(107, 116, 162);
}

#menu-container{
    margin:100px 0px 50px 0px;
    width:100%;
    display: flex;
    flex-direction: row;
    height:40px;
}

#menu-top, #menu-bottom{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    color:rgb(144, 157, 222);
    padding:20px 0;
}

#menu-top{
    justify-content:flex-start;
}

#menu-bottom{
    justify-content: flex-end;
    padding-right: 5px;
    
}

#github {
    filter: invert(43%) sepia(20%) saturate(950%) hue-rotate(189deg) brightness(130%) contrast(85%);
    transition: filter 0.3s ease-in-out;
    width:100%;
    padding-left:15px;
    
}
#github:hover {
    filter: invert(43%) sepia(20%) saturate(950%) hue-rotate(189deg) brightness(90%) contrast(85%);
}

#linkedin, #googlePlay {
    background-color:none; 
    border-radius: 4px; 
    display: inline-block;
    padding-left: 15px;
}

#linkedin svg, #googlePlay svg {
    fill: rgb(144, 157, 222);
    width: 100%; 
    transition: fill 0.3s ease-in-out;
    display: block; /* Remove space below the SVG */
}

#linkedin svg:hover, #googlePlay svg:hover {
    fill: rgb(107, 116, 162);
}


#tool-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: left; 
    gap: 10px;
    padding: 5px 0;
    flex-wrap: wrap;
    width:100%;
    height:auto;
    margin-bottom: 50px;
}
.tool-btn {
    background-color: rgb(39, 39, 39);
    padding: 5px 15px;
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-in-out; 
}
.tool-btn:hover {
    background-color: rgb(41, 41, 41);
    color:rgb(255, 255, 255)
}

@media screen and (min-width: 1280px) {/*desktop*/
    body{margin:50px 400px;width:calc(100vw - 800px);}
    .tool-btn{font-size: 14px;}
    #linkedin svg, #googlePlay svg{height: 25px;}
    .menu-items{font-size:30px;}
}

@media screen and (min-width: 768px) and (max-width: 1279px){ /*tablet*/
    body{margin: 50px 50px;width:calc(100vw - 100px);}
    .tool-btn{font-size: 12px;}
    #linkedin svg, #googlePlay svg{height: 25px;}
    #github{height:30px;}
    .menu-items{font-size:30px;}
    
}

@media screen and (max-width: 767px) { /*mobile*/
    body{margin: 50px 25px;width:calc(100vw - 50px);}
    .tool-btn{font-size: 10px;}
    #linkedin svg, #googlePlay svg {height: 25px;}
    #github{height:24px;}
    .menu-items{font-size:25px;}
}