/* Fonts */
.bold {
    font-weight: bold;
}

/* text highlight color */
::-moz-selection {
    background: rgba(144, 157, 222, 0.604);
    color: white;
}

::selection {
    background: rgba(144, 157, 222, 0.604);
    color: white;
}

/*Body*/
body {
    font-family: 'Oxygen', sans-serif;
    overflow-x: hidden !important;
    background-color: black;
    color: rgb(179, 179, 179);
    cursor: default;
    width: 100%;
}

#readme {
    font-family: 'Oxygen', sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: rgb(144, 157, 222);
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: rgb(107, 116, 162);
}

#menu-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 40px;
    /* Height for the container */
}

#menu-top,
#menu-bottom {
    display: flex;
    align-items: center;
    color: rgb(144, 157, 222);
    padding-right: 20px;
}

#menu-top {
    flex: 3;
    justify-content: flex-start;
}

#menu-bottom {
    flex: 7;
    justify-content: flex-end;
}

#github {
    filter: invert(43%) sepia(20%) saturate(950%) hue-rotate(189deg) brightness(130%) contrast(85%);
    transition: filter 0.3s ease-in-out;
    width: 100%;
    padding-left: 15px;

}

#github:hover {
    filter: invert(43%) sepia(20%) saturate(950%) hue-rotate(189deg) brightness(90%) contrast(85%);
}

#linkedin,
#googlePlay {
    background-color: none;
    border-radius: 4px;
    display: inline-block;
    padding-left: 15px;
    padding-right: 0;
}

#linkedin svg,
#googlePlay svg {
    fill: rgb(144, 157, 222);
    transition: fill 0.3s ease-in-out;
    display: block;
}

#linkedin svg:hover,
#googlePlay svg:hover {
    fill: rgb(107, 116, 162);
}


#tool-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    padding: 5px 0;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.tool-btn {
    background-color: rgb(39, 39, 39);
    padding: 5px 15px;
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.tool-btn:hover {
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255)
}

/* light and dark mode */
body.light-mode {
    color: black;
    background-color: #ffffff;
}

#light-mode-toggle {
    border-radius: 50%;
    background-color: #151515;
    color: white;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #484848;
    transition: 0.3s ease-in-out;
}

body.light-mode #light-mode-toggle {
    background-color: #fefefe;
    border: 1px solid #8a8a8a;
}

body.light-mode #light-mode-toggle {
    color: black;
    background-color: #fefefe;
}

body.light-mode #light-mode-toggle:hover {
    filter: brightness(90%);
}

#light-mode-toggle:hover {
    filter: brightness(150%);
}

body.light-mode .tool-btn {
    background-color: rgb(179, 179, 179);
    color: rgb(102, 102, 102);
}

body.light-mode .tool-btn:hover {
    color: rgb(128, 128, 128);
}

.icon {
    position: absolute;
}

.sun {
    opacity: 0;
    color: #8a8a8a
}

.moon {
    opacity: 1;
}

body.light-mode .sun {
    opacity: 1;
}

body.light-mode .moon {
    opacity: 0;
}

body.light-mode #googlePlay svg path[fill="#ffffff"] {
    fill: rgb(165, 174, 217);
}

@media screen and (min-width: 1280px) {

    /*desktop*/
    body {
        margin: 100px 400px 50px 400px;
        width: calc(100vw - 800px);
    }

    .tool-btn {
        font-size: 14px;
    }

    #linkedin svg,
    #googlePlay svg {
        height: 25px;
    }

    .menu-items {
        font-size: 30px;
    }

    #menu-container {
        margin-bottom: 25px;
    }

    #tool-btn-container {
        margin-bottom: 50px;
    }

    #light-mode-toggle {
        width: 45px;
        height: 45px;
        font-size: 25px;

    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {

    /*tablet*/
    body {
        margin: 100px 100px 50px 100px;
        width: calc(100vw - 200px);
    }

    .tool-btn {
        font-size: 16px;
    }

    #linkedin svg,
    #googlePlay svg,
    #github {
        height: 40px;
    }

    .menu-items {
        font-size: 40px;
    }

    #menu-container {
        margin-bottom: 50px;
    }

    #tool-btn-container {
        margin-bottom: 50px;
    }

    #light-mode-toggle {
        width: 45px;
        height: 45px;
        font-size: 25px;
    }

}

@media screen and (max-width: 767px) {

    /*mobile*/
    body {
        margin: 40px 25px 30px 25px;
        width: calc(100vw - 50px);
    }

    .tool-btn {
        font-size: 9px;
    }

    #linkedin svg,
    #googlePlay svg,
    #github {
        height: 20px;
    }

    .menu-items {
        font-size: 20px;
    }

    #menu-container {
        margin-bottom: 10px;
    }

    #tool-btn-container {
        margin-bottom: 30px;
    }

    #light-mode-toggle {
        width: 38px;
        height: 38px;
        font-size: 18px;
    }
}